<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>add-Food</title>
    <%-include('./component/bootstrap.ejs') %>
    <link rel="stylesheet" href="stylesheet/style.css" />
  </head>
  <body>
    <%- include("./component/navbar.ejs") %>
    <div class="container-include">
      <h2 class="text-center">Add Foods</h2>
      <form action="process-add-food" method="POST">
        <div class="mb-3">
          <label for="name" class="form-label"> Name</label>
          <input type="text" class="form-control" id="name" name="name" />
        </div>
        <div class="mb-3">
          <label for="stok" class="form-label">Stok</label>
          <input type="number" class="form-control" id="stok" name="stok" />
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">image</label>
          <input type="text" class="form-control" id="image" name="image" />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" class="form-control" id="description" name="description" />
        </div>
        <div class="mb-3">
          <label for="categori_id" class="form-label">categories</label>
          <select class="form-control" name="categori_id" id="categori_id">
            <% if (result.length){ for(let i = 0; i< result.length; i++){ %>
            <option value="<%= result[i].id%>"><%= result[i].id%> - <%= result[i].name%></option>
            <% }} %>
          </select>
        </div>
        <button type="submit" class="btn btn-primary d-flex mx-auto">Submit</button>
      </form>
    </div>
  </body>
</html>
